/*/////// Bootstrap Icons ////////*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*////// Quiksand Font //////*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

/*/////// Didot Fonts ///////*/
/*@font-face {
    font-family: 'Freedom';
    src: url('./fonts/Freedom.ttf');
}*/

@font-face {
  font-family: 'Didot';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/didot/Didot.eot');
  src: url('../fonts/didot/Didot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/didot/Didot.woff2') format('woff2'),
    url('../fonts/didot/Didot.woff') format('woff'),
    url('../fonts/didot/Didot.ttf') format('truetype'),
    url('../fonts/didot/Didot.svg#Didot') format('svg');
}
@font-face {
  font-family: 'Didot';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/didot/Didot-Bold.eot');
  src: url('../fonts/didot/Didot-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/didot/Didot-Bold.woff2') format('woff2'),
    url('../fonts/didot/Didot-Bold.woff') format('woff'),
    url('../fonts/didot/Didot-Bold.ttf') format('truetype'),
    url('../fonts/didot/Didot-Bold.svg#Didot') format('svg');
}

body {
  color: #716C80;
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #0E2258;   
  font-weight: 600;
  font-family:'Didot',Georgia,Times,'Century Schoolbook L',serif;                               
}
img {
  width: 100%;
}
.p-80 {
  padding: 80px 0;
}
.pt-80 {
  padding-top: 80px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-80 {
  margin-top: 80px;
}
.bg_light_bl {
  background-color: #E4F1F6;
}
ul {
  list-style: none;
}

/*/////// Buttons //////*/
.btn_primary {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 10px;
  background: #2576A2;
  transition: all 0.3s ease;
}
.btn_primary:hover {
  color: #fff;
  background: #3b53a0;
  transition: all 0.3s ease;
}
.btn_secondary {
  color: #2576A2;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #2576A2;
  transition: all 0.3s ease;
}
.btn_secondary:hover {
  color: #fff;
  background: #2576A2;
  transition: all 0.3s ease;
}

/*//// Navmenu Desktop ////*/
.nav_desktop .dropdown-menu {
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0.1), 6px 6px 15px 0px rgba(0,0,0,0.1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}
.nav-item.dropdown.dropdown-mega {
  position: static;
}
.nav-item.dropdown.dropdown-mega .dropdown-menu {
  width: 100%;
  top: 18px !important;
  left: 0% !important; 
  border-radius: 10px;
  border-color: #e7e7e7;
}
.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler .hamburger-toggle {
  width: 50px;
  z-index: 11;
  float: right;
  height: 50px;
  position: relative;
  display: inline-block;
}
.navbar-toggler .hamburger-toggle .hamburger {
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(0deg);
}
.navbar-toggler .hamburger-toggle .hamburger span {
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 4px;
  background: #333;
  border-radius: 2px;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  transform-origin: 50% 50%;
  transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  transform: rotate(-45deg);
}
.nav_desktop.navbar-collapse {
  flex-basis: auto;
  display: flex!important;
  justify-content: center;
}
.nav_desktop .navbar-nav {
  gap: 20px;
  flex-direction: row;
}
.nav_desktop .nav-link {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.sub_menu_content li p {
  color: #716C80;
  font-size: 13px;
  margin-bottom: 0;
}
.sub_menu_content li {
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.sub_menu_content li:hover {
  background: #f9f8fa;
  transition: all 0.3s ease;
}
.sub_menu_all h5 {
  margin-left: 10px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
.nav_desktop .dropdown-toggle {
  position: relative;
  padding-right: 18px;
}
.nav_desktop .dropdown-toggle::after {
  right: 0px;
  top: 10px;
  border: none;
  margin-left: 0;
  content: '\f107';
  position: absolute;
  font-family: 'fontawesome';
}
/*//// End ////*/

.icons {
  display: inline-flex;
  margin-left: auto;
}
.icons a {
  transition: all 0.2s ease-in-out;
  padding: 0.2rem 0.4rem;
  color: #ccc !important;
  text-decoration: none;
}
.icons a:hover {
  color: white;
  text-shadow: 0 0 30px white;
}

/*/////// Custom Nav Menu ////////*/
.navmenu_right input[type=checkbox], 
.language_select .dropdown-toggle::after, 
.mobile_menu, .mob_visib, .mob_specific, .que_mob_visib,
.filter_single .col-md-4:first-child::before,
.filter_content {
  display: none;
}
/*Scroll bar main-menu*/
.nav-menu ::-webkit-scrollbar {
  width: 4px;
}
.nav-menu ::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}
.nav-menu ::-webkit-scrollbar-track {
  background-color: transparent;
}
.submenu .active {
  color: #0E2258;
}
a {
  text-decoration: none;
}
a:hover {
  color: #3b53a0;
}
nav {
  height: 80px;
  width: 100%;
  z-index: 999;
  display: flex;
/*  position: fixed;*/
  align-items: center;
  padding: 20px 60px 0;
  background-color: #fff;
  transition: all 0.3s ease;
  justify-content: space-between;
}
.affix {
  top: 0;
  position: fixed;
  padding: 0px 60px 0;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1), 0 0 36px 0 rgba(0,0,0,0.1);
}
nav > .navmenu_right,
nav > .navmenu_right > div {
  display: flex;
  align-items: center;
}
.menu-bt {
  z-index: 999;
  width: 36px;
  height: 36px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  background: #2576A2;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.menu-bt:hover {
  background: #3b53a0;
}
.menu-bt img {
  width: 24px;
}
.menu-bt:before {
  color: #fff;
  width: 24px;
  height: 24px;
  font-size: 24px;
  display: block;
  font-weight: normal;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: initial;
  font-family: 'FontAwesome';
}

.menu-bt.right:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/menu-icon.svg');
}
#menu-right:checked + .menu-bt:before {
  color: #fff;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
[id*=menu-]:checked + .menu-bt:before {
  color: #fff;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
[id*=menu-]:checked + .menu-bt:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/close-icon.svg');
}
.nav-menu {
  top: 0;
  width: 80%;
  z-index: 998;
  height: 100vh;
  position: fixed;
  max-width: 400px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  box-shadow: 0 0 12px rgba(0,0,0,0), 0 0 32px rgba(0,0,0,0);
}
.nav-menu.right {
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
}
[id*=menu-]:checked ~ .nav-menu {
/*  box-shadow: 0 0 12px rgba(0,0,0,0.1), 0 0 32px rgba(0,0,0,0.2);*/
  -webkit-box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
  box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
.nav-menu.right {
  right: 0;
}
.nav-menu h5 {
  margin: 0;
  font-size: 0.85em;
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
  padding: 32px 24px 14px 24px;
}
.nav-menu h5:after {
  content: "";
  width: 3em;
  display: block;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.nav-menu a {
  color: #000;
  display: block;
  padding: 14px 0px;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
}
.nav-menu a:before {
  top: 9px;
  left: 20px;
  font-size: 24px;
  position: absolute;
  margin-right: 14px;
}
.nav-menu a span {
  color: #fff;
  float: right;
  margin-top: -3px;
  padding: 4px 8px;
  font-size: 0.85em;
  border-radius: 10px;
}
.nav-menu .menu-scroll {
  width: 100%;
  overflow-y: auto;
  margin-top: 90px;
  padding: 0 50px 24px 50px;
  height: calc(100vh - 72px);
}
.nav-menu .sm_menu a {
  padding: 8px 0;
  font-size: 14px;
}
.nav-link.active i {
  transform: rotate(180deg);
}
.nav-menu.right {
  background: #fff;
}
/*Menu hint number*/
.nav-menu a span {
  background-color: #00aeef;
}
.que_logo img {
  width: 180px;
}
.sidemenu_logo {
  margin-bottom: 30px;
}
.sidemenu_logo img {
  width: 135px;
}
.sidebar .nav-link {
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .nav-item i {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-menu .btn_primary {
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 40px;
}
.quick_access .btn_primary, .quick_access .btn_secondary {
  font-size: 13px;
  padding: 8px 25px;
  margin-right:15px;
}
.language_select {
  margin-right: 25px;
}
.language_select a {
  gap: 10px;
  display: flex;
  font-size: 14px;
  padding: 10px 8px;
  border-radius: 8px;
  align-items: center;
  transition: all 0.3s ease;
}
.language_select .lang_current {
  font-size: 13px;
}
.language_select a:hover {
  color: #000;
  background: #f9f9f9;
  transition: all 0.3s ease;
}
.language_select img {
  width: 30px;
  border-radius: 4px;
}
.language_select .dropdown-menu {
/*  max-width: 350px;*/
  min-width: 215px;
  padding: 10px 15px;
  border-radius: 10px;
  transform: translate(0px, 60px) !important;
}
.language_set img {
  width: 25px;
  margin-right: 10px;
}
/*.language_set {
  flex-flow: wrap;
}
/*.language_set li {
  width: 50%;
}*/

/*/////////// Banner ////////////*/
.que_banner_text .item {
  height: 88vh;
/*  margin-top: 80px;*/
  position: relative;
}
.que_banner_text .item .cover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.que_banner_text .item .cover .header-content {
  overflow: hidden;
  text-align: left;
  position: relative;
  padding: 0 0px 0 55px;
}
.que_banner_text .item .cover .header-content .line {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  border: 9px solid #fff;
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.que_banner_text .item .cover .header-content h2 {
  font-size: 35px;
  font-weight: 300;
}
.que_banner_text .item .cover .header-content h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  word-spacing: 3px;
  margin: 5px 0 25px;
}
.que_banner_text .item .cover .header-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.que_banner_text .owl-item.active h1 {
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.que_banner_text .owl-item.active h2 {
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.que_banner_text .owl-item.active p, .que_banner_text .owl-item.active .banner_buttons {
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.que_banner_text .owl-item.active .line {
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.banner_buttons .btn_primary, .banner_buttons .btn_secondary {
  min-width: 182px;
  margin-top: 50px;
  margin-right: 20px;
}
.owl-dots {
  left: -52px;
  bottom: 40%;
  position: absolute;
  transform: rotate(90deg);
}
.owl-dot span {
  width: 4px;
  height: 4px;
  display: block;
  margin: 0px 10px;
  border-radius: 30px;
  background: #2576A2;
  transition: all 0.3s ease;
}
.owl-dot.active span {
  width: 50px;
  transition: all 0.3s ease;
}
.que_header {
  margin-bottom: 20px;
}
.que_header h2 {
  font-size: 34px;
  margin-bottom: 20px;
}
/*.que_discover .que_header h2 {
  font-family: 'Quicksand', sans-serif;
}*/
.que_management_metrics .que_header p {
  width: 800px;
  margin: 0 auto;
}
.que_counter {
  margin-top: 30px;
}
.que_counter img {
  width: 80px;
  margin-bottom: 10px;
}
#counter span.percent:after {
  content: "%";
  display: inline-block;
}
#counter h3.percent:after {
  content: "+";
  display: inline-block;
}
.count {
  color: #3B53A0;
  font-size: 50px;
  font-weight: 800;
}
.que_counter p {
  color: #0E2258;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

/*////////// Our Products /////////*/
.pin-spacer {
  margin: 0 auto !important;
}
#container {
  width: 1220px;
  height: 90%; 
  margin: 0 auto !important;
  overflow: hidden;
  border-radius: 55px;
}
.panel {
  position: absolute;
  will-change: transform;
}
.description .row {
  width: 100%;
  height: 100%;
  align-items: center;
}
.products_single {
  text-align: left;
  padding: 0 85px 40px 140px;
}
.products_single .que_prdt_hd {
  color: #000;
  font-size: 15px;
  padding: 9px 20px;
  border-radius: 10px;
  background-color: #fff;
}
.products_single .que_header {
  margin-top: 25px;
}
.products_single .que_header h2 {
  font-size: 40px;
}
.products_single .que_header span {
  letter-spacing: 3px;
}
.products_single p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
}
.product_img img {
  width: 386px;
}
.product_active_number {
  left: 40px;
  position: absolute;
}
.product_active_number li {
  margin: 8px 0;
}
.description .product_active_number span {
  opacity: .5;
  width: 25px;
  height: 25px;
  display: flex;
  color: #2576A2;
  font-size: 13px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #2576A2;
}
.description .product_active_number .active {
  color: #fff;
  background-color: #2576A2;
}
/*/////// Our Industries ///////*/
.industries {
  margin-top: 30px;
}
.industries_single img {
  width: 80px;
  height: 82px;
}
.header_sm h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
}
.industries_single h3 {
  margin-top: 30px;
}
.industries_single p {
  padding: 0 20px;
  margin-top: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.read_more {
  display: flex;
  color: #0E2258;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.read_more i {
  font-size: 15px;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.read_more:hover i {
  padding-left: 5px;
  transition: all 0.3s ease;
}
.que_industries .que_header h2 {
  margin-bottom: 0;
}
.product_img.wdth_adj img {
  width: 480px;
}

/*////////// Mobile Solutions ////////*/
.mobile_solutions {
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/mobile_solutions.png');
}
.que_mobile_solution {
  text-align: left;
  padding-right: 175px;
}
.que_mobile_solution p {
  margin-bottom: 50px;
}

/*////////// Our Clients ////////*/
.clients {
  margin-top: 60px;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
}
.clients_single {
  width: 178px;
  height: 115px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
  box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
}
.clients_single img {
  border-radius: 12px;
}
.clients_single:hover {
  cursor: pointer;
  transform: translate(0, -10px);
}

/*////////// Integrations ////////*/
.que_integration {
  padding-right: 150px;
}
.que_integration .btn {
  margin-top: 30px;
}

/*////////// Blog ////////*/
.blog {
  margin-top: 50px;
}
.blog_img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.owl-carousel .owl-item .blog_img img, .blog_img img {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}    
.owl-carousel .owl-item .blog_img img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.owl-carousel .owl-stage {
  padding-bottom: 80px;
}
.blog_single {
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  transition: all 0.3s ease;
}
.blog_single:hover {
  transition: all 0.3s ease;
  box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
}
.all_blogs .blog_single {
  margin-top: 30px;
}
.blog_details {
  padding: 0 20px 30px;
}
.blog_details h3 {
  margin-top: 30px;
  min-height: 48px;
}
.blog_details p, .blog_details h3,
.news_content p {
  overflow: hidden;
  margin-bottom: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog_details p {
  margin-bottom: 20px;
}
.blog_details h3 {
  margin-bottom: 20px;
}
.blog_details .read_more {
  justify-content: start;
}

/*////////// Faqs ////////*/
.faq_questions {
  padding: 0 50px;
}
.faqs_img img {
  width: 430px;
}
.faq_questions .que_header {
  margin-bottom: 50px;
}
.faq_questions .accordion-item {
  border: none;
}
.faq_questions .accordion-button {
  border: 1px solid #e7e7e7;
  border-radius: 10px !important;
}
.faq_questions .accordion-button:not(.collapsed) {
  box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
}
.faq_questions .accordion-header h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: 'Quicksand', sans-serif;
}
.faq_questions .accordion-header,
.sub_news_detail h5 {
  margin-top: 20px;
}
.faq_questions .accordion-body {
  color: #716C80;
  padding: 20px 0;
}
.faq_questions .accordion-button:focus, 
.form-control:focus {
  box-shadow: none;
}

/*////////// Discover ////////*/
.que_discover {
  padding-bottom: 80px;
}
.disover {
  padding: 90px 0;
  min-height: 370px;
  position: relative;
  border-radius: 55px;
  background-color: #E4F1F6;
}
.disover .row {
  height: 370px;
}
.information .que_header h2 {
  line-height: 45px;
}
.disover .btn, .subscribe_form,
.footer_logo p {
  margin-top: 50px;
}
.intersect-left, .intersect-right {
  left: 0;
  top: 60px;
  position: absolute;
}
.intersect-right {
  left: auto;
  top: auto;
  right: 0;
  bottom: 60px;
}
.intersect-left img, .intersect-right img {
  width: 125px;
  height: 130px;
}
.become_partner, .self_service {
  padding: 0 0;
  background: #EEF5FF;
}
.que_partner, .subscribe {
  padding: 80px;
}
.que_partner p {
  margin-bottom: 50px;
}
.que_partner .learn_more {
  font-weight: 600;
  text-decoration: underline;
}
.subscribe_form .form-control {
  font-size: 14px;
  border-radius: 10px;
  padding: 11px 10px 11px 15px;
}
.subscribe {
  background: #E4F1F6;
}

/*////////// Footer ////////*/
.footer {
  background: #101C32;
}
.footer_logo img {
  width: 215px;
}
.quick_links .accordion, 
.quick_links.faq_questions .accordion-item {
  background-color: #101c32;
}
.quick_links.faq_questions .accordion-button:after {
  color: #fff;
  right: 18px;
  border: none;
  margin-left: 0;
  content: '\f078';
  position: absolute;
  background-image: none;
  font-family: 'fontawesome';
}
.footer_logo p, .quick_links a {
  color: #E1E1E1;
}
.quick_links h3, .quick_links h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}
.quick_links ul li a, .location {
  padding: 8px 0;
  display: block;
  transition: all 0.3s ease;
}
.quick_links ul li:hover a {
  color: #c9c9c9;
  padding-left: 5px;
  transition: all 0.3s ease;
}
.quick_links h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: underline;
}
.location, .mobile, .mail {
  gap: 12px;
  color: #e1e1e1;
}
.location i {
  color: #fff;
}
.address ul li:hover a {
  padding-left: 0;
}
.quick_links .accordion-button {
  background-color: transparent;
} 
.quick_links.faq_questions .accordion-header h4 {
  text-decoration: none;
}
.footer_bottom {
  padding: 10px 0;
  background: #13223E;
}
.social {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  background: #2F4671;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.social:hover {
  background: #101C32;
  transition: all 0.3s ease;
}
.social_media ul {
  gap: 10px;
  display: flex;
}
.social_media a {
  color: #e1e1e1;
}
.copyrights {
  color: #fff;
}


/*/////////// Progress Animation ///////////*/
.blok:nth-of-type(odd) {
background-color:white;
}
    
.blok:nth-of-type(even) {
background-color:black;
}
@-webkit-keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}


/* #Progress
================================================== */

.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: 'fontawesome';
  content: '\f062';
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3); /* --- Pijl kleur --- */
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
  opacity: 0;
}
.progress-wrap::before {
  position: absolute;
  font-family: 'fontawesome';
  content: '\f062';
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  opacity: 0;
  background: black; /* --- Pijl hover kleur --- */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
  opacity: 1;
}
.progress-wrap svg path { 
  fill: none; 
}
.progress-wrap svg.progress-circle path {
  stroke: rgba(0, 0, 0, 0.2); /* --- Lijn progres kleur --- */
  stroke-width: 4;
  box-sizing:border-box;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


/*//////////////////////////////////////////////
                    Sub Pages
/////////////////////////////////////////////*/

/*////////// Finance ////////////*/
.sub_banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/sub_banner_bg.png');
}
.sub_banner .que_header h2 {
  font-size: 40px;
}
.banking {
  padding-right: 140px;
}
.banking-left {
  padding-left: 140px;
}
.img_all img {
  width: 500px;
  display: block;
  margin: 0 auto;
}
.banking .que_header {
  margin-bottom: 30px;
}
.banking p {
  line-height: 28px;
  margin-bottom: 0;
}
.info_img img {
  width: 460px;
  display: block;
  margin: 0 auto;
}
.info_detais {
  padding: 0 120px;
}
.info_detais h4 {
  font-weight: 700;
  line-height: 40px;
  font-family: 'Quicksand', sans-serif;
}
.relationship {
  margin-top: 30px;
  padding: 70px 50px;
  border-radius: 30px;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 1.5625rem 0 rgb(54 186 254 / 10%);
}
.relationship p {
  margin-bottom: 0;
}
.relation_icons {
  position: relative;
}
.relation_icons img {
  width: 65px;
  padding: 20px 0;
}
/*.relation_icons:after {
  left: 0;
  top: 0;
  content: "";
  width: 50px;
  height: 50px;
  z-index: -1;
  opacity: 0.07;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../images/icon_bg.png);
}*/
.appointments_det {
  padding: 0 60px;
}
.features_single {
  padding: 30px;
  margin-top: 30px;
  min-height: 310px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 1.5625rem 0 rgb(54 186 254 / 10%);
}
.features_single img {
  width: 65px;
  padding-bottom: 30px;
}
.features_single .header_sm h3 {
  margin-bottom: 20px;
}
.que_features .que_header p {
  padding-right: 50px;
}

/*///////// Healthcare /////////*/
.info_detais.health_info {
  padding: 0 40px;
} 
.hospital_management .col-md-4 {
  display: flex;
}

/*///////// Queue Management /////////*/
.que_mng_sftr .col-lg-4, .que_mng_sftr .col-md-6, 
.self_service .col-lg-6, .que_mng_sftr .col-lg-8,
.integration_content .col-lg-4, .integration_content .col-md-6 {
  display: flex;
}
.que_mng_sftr .header_sm {
    min-height: 50px;
}
.que_benefits_all {
  padding-left: 0;
}
.que_benefits_all li {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.que_benefits_all span {
  color: #000;
  font-weight: 600;
  padding-left: 15px;
}
.que_benefits_all i {
  color: #3B53A0;
}
.self_service_kiosk {
  padding: 80px 80px 0 80px;
}
.counter_display {
  padding: 0 80px 80px 80px;
}
.kiosk_img {
  width: 400px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}
.counter_img {
  margin-top: 0;
  margin-bottom: 50px;
}
.self_service_kiosk .btn_primary, 
.counter_display .btn_primary {
  margin-top: 30px;
}
.counter_display {
  background: #E4F1F6;
}

/*///////// Mobile Solution & Appointment /////////*/
.info_detais.scheduling_app {
  padding: 0 30px;
}

.customer_feed .relationship {
  padding: 70px 40px;
}
.que_mng_sftr.customer_feed .header_sm {
  min-height: 0;
}

.que_support_single {
  padding: 60px;
  display: flex;
  border-radius: 55px;
  align-items: center;
  background-color: #EEF5FF;
}
.queueberry_support .col-lg-6 {
  display: flex;
}
.discover_necessary.disover {
  display: flex;
  padding: 90px 210px;
  align-items: center;
}
.discover_necessary .que_header h2 {
  line-height: 40px;
}
.que_mng_sftr .benefits_explain {
  display: flex;
  background: #EEF5FF;
  padding: 70px 100px;
  align-items: center;
}
.benefits_explain h4 {
  font-weight: 700;
  line-height: 40px;
  font-family: 'Quicksand', sans-serif;
}
.queberry_essential_features .features_single {
  min-height: auto;
}
.que_support_single.info_detais p {
  font-size: 17px;
  margin-bottom: 0;
  line-height: 28px;
}
.about_single {
  padding: 50px 30px;
  margin-top: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: #EEF5FF;
/*  box-shadow: 0 0 1.5625rem 0 rgb(54 186 254 / 10%);*/
}
.about_single h3, .about_single h5, .team_details h5,
.job_opening h5, .filter_head h5, .integation_detail h5,
.contact_header h4, .short_cn h6, .sub_menu_content h6 {
  font-family: 'Quicksand', sans-serif;
}
.about_single h3 {
  color: #0E2258;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.about_single h5 {
  color: #716C80;
  font-size: 18px;
  margin-bottom: 0;
}
/*.about_single.clr_yellow {
  background-color: #fff7ed;
}
.about_single.clr_yellow h3, .about_single.clr_yellow h5 {
  color: #ffbe16;
}
.about_single.clr_green {
  background-color: #eafff2;
}
.about_single.clr_green h3, .about_single.clr_green h5 {
  color: #9cd161;
}
.about_single.clr_blue {
  background-color: #ebfaff;
}
.about_single.clr_blue h3, .about_single.clr_blue h5 {
  color: #6ebece;
}*/
.que_team_member {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
}
.team_details {
  padding: 15px;
  background-color: #E4F1F6;
}
.team_details h5 {
  font-weight: 700;
}
.team_details p {
  margin-bottom: 0;
}
.openings {
  display: flex;
  margin-top: 30px;
  background: #fff;
  padding: 20px 25px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  transition: all 0.3s ease;
}
.openings:hover {
  transition: all 0.3s ease;
  box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
}
.job_opening p {
  font-size: 14px;
  margin-bottom: 0;
}
.job_opening h5 {
  font-size: 19px;
  font-weight: 700;
}
.job_opening {
  width: 40%;
}
.job_type, .years_experience,
.job_direction {
  width: 20%;
  text-align: center;
}
.job_type span {
  color: #fff;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #3b53a0;
  text-transform: uppercase;
}
.job_type.freelancer span {
  background-color: #ff8207;
}
.job_circle {
  width: 40px;
  height: 40px;
  float: right;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #EEF5FF;
}
.about_single .que_counter {
  margin-top: 0;
}
.more_jobs {
  margin-top: 50px;
}
.more_jobs .btn_primary {
  min-width: 300px;
}
.blog_full_img img, .news_img img {
  border-radius: 10px;
  margin-bottom: 40px;
}
.blog_post_details {
  display: flex;
  align-items: center;
}
.blog_post img {
  width: 35px;
  margin-right: 15px;
}
.blog_date, .blog_post {
  font-size: 14px;
}
.blog_date, .read_time {
  margin-left: auto;
}
.blog_data_single {
  margin-top: 30px;
}

.blog_data_single h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog_small {
  padding: 20px;
  border-radius: 10px;
  background-color: #E4F1F6;
}
.blog_small_single {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.blog_small_single:last-child, .news_single:last-child {
  border: none;
}
.blog_small_single a {
  color: #716C80;
  font-size: 13px;
}
.blog_small_single a:hover {
  color: #0E2258;
}
.news_img {
  position: relative;
}
.featured_news {
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 5px;
  background-color: #2576A2;
}
.news_single {
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid #e7e7e7;
}
.news_single img {
  width: 170px;
  height: 113px;
  object-fit: cover;
  border-radius: 10px;
}
.sub_news_detail {
  width: 100%;
  padding-left: 30px;
}
.que_filter {
  top: 80px;
  position: sticky;
  background-color: #fff;
}
.filter_single {
  min-height: 50px;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 15px #ccc;
}
.que_filtering {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}
.filter_single .col-md-4 {
  position: relative;
}
.filter_single .col-md-4:before {
  content: '';
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: #e7e7e7;
}
.filter_head h5 {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 15px;
}
.filter_head i {
  color: #3b53a0;
}
.filter_inputs {
  position: relative;
}
.filter_inputs .form-control {
  font-size: 14px;
  padding: .6rem .75rem;
}
.filter_inputs i {
  top: 14px;
  right: 20px;
  position: absolute;
}
.filter_all ul {
  padding-left: 0;
}
.filter_all ul li {
  padding: 5px 0;
}
.filter_all ul li a {
  color: #0E2258;
  font-size: 14px;
}
.filter_all ul li a:hover {
  color: #000;
}
.reset_selection {
  color: #0083cc;
  font-size: 15px;
  margin-left: 15px;
}
.integration_imgs img {
  width: 180px;
  display: block;
  margin: 0 auto;
}
.integation_single {
  margin-top: 30px;
  padding: 40px 30px;
}
.integation_detail h5 {
  font-size: 24px;
  font-weight: 700;
}
.contact_side_menu {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 5px 10px 0 rgba(0,0,0,.1);
}
.contact_side_menu .nav-pills .nav-link.active, 
.contact_side_menu .nav-pills .show>.nav-link {
  color: #0d6efd;
  background-color: #f9f8fa;
}
.contact_side_menu .nav-pills .nav-link {
  color: #000;
  font-weight: 600;
  padding: 14px 15px;
}
.contact_all {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}
.contact_header h4 {
  font-size: 22px;
  margin-bottom: 15px;
}


.custom-field {
  width: 100%;
  position: relative;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
  border-top: 25px solid transparent;
}
.custom-field input, .custom-field textarea {
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px;
  appearance: none;
  background: #fff;
  padding: 14px 15px;
  border-radius: 10px;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.custom-field .placeholder {
  top: 25px;
  color: #716C80;
  overflow: hidden;
  line-height: 100%;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: top 0.3s ease;
  left: var(--field-padding);
  transform: translateY(-50%);
  width: calc(100% - (var(--field-padding) * 2));
}
.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder,
.custom-field textarea.dirty + .placeholder,
.custom-field textarea:focus + .placeholder,
.custom-field textarea:not(:placeholder-shown) + .placeholder,  {
  top: -10px;
  color: #222;
  font-size: 10px;
}
.custom-field .error-message {
  width: 100%;
  color: #fff;
  height: 24px;
  display: flex;
  padding: 0 8px;
  font-size: 12px;
  background: #d30909;
  align-items: center;
}
.custom-field .error-message:empty {
  opacity: 0;
}
.custom-field.one input, .custom-field.one textarea {
  background: none;
  border: 1px solid #e7e7e7;
  transition: border-color 0.3s ease;
}
.custom-field.one input + .placeholder {
  left: 15px;
  padding: 4px 0;
}
.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus,
.custom-field.one textarea.dirty,
.custom-field.one textarea:not(:placeholder-shown),
.custom-field.one textarea:focus {
  border-color: #2576A2;
  transition-delay: 0.1s;
}
.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder,
.custom-field.one textarea.dirty + .placeholder,
.custom-field.one textarea:not(:placeholder-shown) + .placeholder,
.custom-field.one textarea:focus + .placeholder {
  top: 0;
  color: #222;
  width: auto;
  font-size: 10px;
  background: #fff;
}
.contact_form .placeholder {
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
}
.select_option select {
  width: 100%;
  border: none;
  outline: none;
  color: #716C80;
  padding: 14px 0;
}
.privacy_agree {
  margin-top: 10px;
}
.privacy_agree .form-check-input {
  margin-top: 0.3em;
}
.privacy_agree .form-check label {
  cursor: pointer;
  margin-bottom: 15px;
}
.privacy_agree .btn_primary {
  min-width: 150px;
  margin-top: 30px;
}
.contact_numbers {
  top: 80px;
  position: sticky;
}
.contact_sub ul li {
  gap: 20px;
  display: flex;
  padding: 10px 0 20px;
}
.contact_sub span {
  width: 45px;
  height: 45px;
  display: flex;
  color: #3B53A0;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e7e7;
}
.short_cn h6 {
  margin-bottom: 4px;
}
.short_cn {
  width: calc(100% - 60px);
}
.find_que_office .card {
  border-radius: 10px;
  border: 1px solid #e7e7e7;
} 
.short_cn p {
  margin-bottom: 0;
}

















/*///////////// Media Query ////////////*/
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, 
  .container-sm, .container-xl {
    max-width: 1250px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner_buttons .btn_primary, 
  .banner_buttons .btn_secondary {
    min-width: 150px;
    margin-top: 30px;
    margin-right: 10px;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .banner_buttons {
    display: flex;
    gap: 10px;
  }
  .banner_buttons .btn_primary, 
  .banner_buttons .btn_secondary {
    min-width: 130px;
    margin-top: 15px;
    margin-right: 0;
    padding: 10px;
    font-size: 14px;
  }
  .que_banner_text .item .cover .header-content h1 {
    font-size: 28px;
    line-height: 35px;
  }
}

@media (max-width: 1199px) {
  #container {
    width: 960px;
  }
  .clients_single {
    width: 165px;
    height: 107px;
  }
  .que_integration {
    padding-right: 60px;
  }
  .blog_img {
    height: 250px;
  }
  .owl-carousel .owl-item .blog_img img, .blog_img img {
    min-height: 250px;
  }
  .faq_questions {
    padding: 0 10px;
  }
  .que_partner, .subscribe {
    padding: 60px 20px;
  }
  .img_all img, .info_img img {
    width: 100%;
  }
  .banking {
    padding-right: 60px;
  }
  .info_detais {
    padding: 0 60px;
  }
  .que_support_single.info_detais {
    padding: 60px;
  }
  .relationship {
    padding: 40px 15px;
  }
  .kiosk_img {
    width: 100%;
  }
  .nav_desktop.navbar-collapse {
    display: none !important;
  }
  .mobile_menu {
    display: block;
  }
}

@media (max-width: 992px) {
  .mob_visib {
    display: block;
  }
  .desk_visib, .faqs_img img {
    display: none;
  }
  .reqst_buttons {
    gap: 10px;
  }
  .nav-menu .reqst_buttons .btn_secondary {
    color: #2576A2;
    padding: 10px 30px;
    border-radius: 10px;
  }
  .nav-menu .reqst_buttons .btn_primary,
  .nav-menu .reqst_buttons .btn_secondary {
    width: 50%;
    padding: 10px;
    margin-top: 25px;
  }
  #container {
    width: 720px;
  }
  .product_active_number {
    left: 15px;
  }
  .products_single {
    padding: 0 0 40px 55px;
  }
  .products_single .que_header h2 {
    font-size: 35px;
  }
  .products_single p {
    font-size: 16px;
  }
  .product_img img, 
  .que_management_metrics .que_header p {
    width: 100%;
  }
  .mobile_solutions {
    background: #e4f1f6;
  }
  .que_mobile_solution {
    padding: 0;
    text-align: center;
  }
  .clients_single {
    width: 130px;
    height: 84px;
  }
  .que_integration, .self_service .col-lg-6,
  .banking-left {
    padding: 0;
  }
  .self_service .col-lg-6 {
    margin-top: 40px;
  }
  .que_header br {
    display: none;
  }
  .disover {
    z-index: -2;
  }
  .intersect-left, .intersect-right {
    z-index: -1;
  }
  .banking, .info_detais, .appointments_det {
    padding: 0;
  }
  .appointments_det {
    margin-bottom: 50px;
  }
  .self_service {
    background-color: #fff;
  }
  .self_service_kiosk {
    background-color: #EEF5FF;
  }
  .que_support_single.info_detais {
    padding: 60px;
    margin-top: 30px;
  }
  .discover_necessary.disover {
    padding: 90px 110px;
  }
  .contact_side_menu, .contact_all {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .que_banner_img, .product_img, .desk_specific,
  .job_direction, .filter_single .col-md-4:before {
    display: none;
  }
  .owl-dots {
    position: unset;
    margin-top: 35px;
    text-align: center;
    transform: rotate(0);
  }
  .que_banner_text {
    padding: 80px 0;
  }
  #container {
    width: 540px;
  }
  .products_single {
    padding: 40px 0 0 65px;
  }
  .panel {
    height: 75%;
  }
  #container {
    height: 85%;
  }
  .integration_img, .quick_links,
  .blog_small {
    margin-top: 40px;
  }
  .mob_specific, .openings, .filter_content {
    display: block;
  }
  .que_clients .item {
    margin: 10px 0;
  }
  .clients_single {
    width: 160px;
    height: 107px;
    margin: 0 auto;
    box-shadow: none;
    border: 1px solid #e1e1e1;
  }
  .banking, .info_detais {
    margin-bottom: 50px;
  }
  .features .mt-40 {
    margin-top: 0;
  }
  .que_support_single.info_detais {
    margin-bottom: 0;
  }
  .customer_feed .relationship {
    padding: 40px 15px;
  }
  .job_type {
    float: right;
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
  .job_opening {
    width: 70%;
    margin-bottom: 30px;
    display: inline-block;
  }
  .owl-carousel .owl-item .blog_img img, .blog_img img {
    height: 100%;
  }
  .que_filtering {
    padding: 10px 0;
  }
}

@media (max-width: 576px) {
  nav {
    padding: 20px 15px 0;
  }
  .que_logo img {
    width: 135px;
  }
  .que_banner_text .item .cover .header-content {
    padding: 0;
  }
  .header-content h1 br, .product_active_number,
  .que_header h2 br, .que_desk_visib, .information .intersect-left, 
  .information .intersect-right, .discover_necessary 
  .intersect-left, .discover_necessary .intersect-right {
    display: none;
  }
  .que_header h2 {
    font-size: 28px;
  }
  .que_mob_visib, .news_single {
    display: block;
  }
  .que_banner_text .item {
    height: 100%;
    margin-top: 30px;
  }
  .banner_buttons {
    display: flex;
    gap: 15px;
  }
  .banner_buttons .btn_primary, .banner_buttons .btn_secondary {
    width: 50%;
    margin-right: 0;
    padding: 10px;
    min-width: 150px;
  }
  #container, .que_products, .affix {
    width: 100%;
    padding: 0 15px;
  }
  .panel {
    height: 85%;
  }
  .panel:after, .disover .row {
    height: 100%;
  }
  .description.prdt_mob {
    padding: 40px 0;
    margin-top: 30px;
    position: relative;
  }
  .products_single {
    padding: 10px 0 0 25px;
  }
  .intersect-left {
    top: 45px;
  }
  .intersect-left img, .intersect-right img {
    width: 65px;
    height: 75px;
  }
  .become_partner .col-md-6,
  .info_detais.scheduling_app, .sub_news_detail {
    padding: 0;
  }
  .subscribe_form .form-control, .footer_bottom {
    padding: 15px;
  }
  .subscribe_form .col-7.col-md-12,
  .nav-menu .reqst_buttons .btn_primary, 
  .nav-menu .reqst_buttons .btn_secondary,
  .news_single img {
    width: 100%;
  }
  .social_media ul {
    justify-content: center;
  }
  .copyrights.text-end {
    padding-top: 15px;
    text-align: center !important;
  }
  .language_select {
    margin-right: 15px;
  }
  .nav-menu .menu-scroll {
    padding: 0 25px 24px 25px;
  }
  .clients_single {
    width: 250px;
    height: 170px;
  }
  .information .que_header {
    padding: 40px 15px;
  }
  .self_service_kiosk {
    padding: 80px 15px 0 15px;
  }
  .counter_display {
    padding: 0 15px 80px 15px;
  }
  .que_support_single.info_detais {
    padding: 30px;
  }
  .discover_necessary.disover {
    padding: 50px 15px;
  }
  .que_mng_sftr .benefits_explain {
    padding: 40px 15px;
  }
  .info_detais h4, .que_support_single.info_detais p {
    font-size: 16px;
    line-height: 25px;
  }
  .que_discover .que_header {
    margin-bottom: 0;
  }
  .job_opening {
    width: 60%;
  }
  .years_experience {
    width: auto;
    text-align: left;
  }
  .news_single img {
    height: 100%;
    margin-bottom: 30px;
  }
  .contact_all {
    padding: 30px 20px;
  }
}